.container {
  display: flex;
  height: 100vh;
  background: #f1f0f0;
  overflow-y: hidden;
}
.mainContent {

  width: 72%;
  padding: 55px;
}

.sidebar {
  width: 200px;
  background-color: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #dee2e6;
}

.sidebarTitle {
  margin: 0;
  font-size: 1.5rem;
  color: #5a67d8;
}

.sidebarList {
  list-style: none;
  padding: 0;
}

.sidebarItem {
  padding: 10px 0;
  border-bottom: 1px solid #dee2e6;
  color: #5a67d8;
  cursor: pointer;
}

.sidebarHelp {
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid #dee2e6;
  color: #5a67d8;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.headerTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 40px;
  line-height: 64.25px;
  letter-spacing: 0.32px;
  color: black;
}
.arrowIcon {
  width: 51px;
  height: 51px;
  cursor: pointer;
}

.headerButtons {
  display: flex;
  gap: 10px;
}

.discardButton {
  background: transparent;
  width: 160px;
  height: 48px;
  gap: 10px;
  border-radius: 5.51px;
  border-width: 1px;
  border: 1px solid #e01919;
  font-family: Roboto;
  font-weight: 600;
  font-size: 19.78px;
  line-height: 23.17px;
  letter-spacing: 0%;
  color: #e01919;
}

.saveButton {
  width: 160px;
  height: 48px;
  gap: 10px;
  border-radius: 5.51px;
  border: transparent;
  background: #211935;
  color: #f8f8f8;
  font-family: Roboto;
  font-weight: 600;
  font-size: 19.78px;
  line-height: 23.17px;
  letter-spacing: 0%;
}

.transcriptContainer {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
  height: 70%;
  top: 268px;
}

.transcriptItem {
  margin-bottom: 20px;
}

.textarea {
  background: transparent;
  width: 100%;
  height: 605px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  resize: vertical;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 40.32px;
  letter-spacing: 0%;
  color: #63635e;
}
.editButton {
  width: 160px;
  height: 48px;
  gap: 10px;
  border-radius: 5.51px;
  border: transparent;
  background: #211935;
  color: #f8f8f8;
  font-family: Roboto;
  font-weight: 600;
  font-size: 19.78px;
  line-height: 23.17px;
  letter-spacing: 0%;
}
.headingHome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -20px;
  margin-bottom: -50px;
}
.arrow {
  display: flex;
  align-items: center;
  gap: 10px;
}
.homeIcon {
  width: 24px;
  height: 24px;
}
.headingHomeSample {
  font-family: Roboto;
  font-weight: 700;
  font-size: 25.7px;
  line-height: 36.72px;
  letter-spacing: 0.18px;
  color: #999999;
}
.headingHomeSpan {
  font-family: Roboto;
  font-weight: 700;
  font-size: 25.7px;
  line-height: 36.72px;
  letter-spacing: 0.18px;
  color: #7e22ce;
}
.groupIcon {
  display: flex;
  gap: 20px;
}
.notification {
  border-radius: 50%;
  width: 27px;
  height: 27px;
  cursor: pointer;
}
@media  (max-width: 1200px) {
  .leftSide{
    display: hidden;
  }
}
@media  (max-width: 768px) {
  .leftSide{
    display: hidden;
  }
}
@media  (max-width: 1300px) {
  .leftSide{
    display: hidden;
  }
}